<%doc>
	Author: John Turner
	Version: 1.0
	Updated: 3/6/15

	The HTML for the shopping cart which is rendered in a Bootstrap modal. 
</%doc>

<%inherit file="/base_app/templates/base_ajax.htm" />

<%block name="content">

	<table class="spacer" >
		<thead>
			<tr>
				<th>
					quality
				</th>
				<th>
					hello
				</th>
				<th>
					name
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					Bruce
				</td>
				<td>
				DErik
				</td>
				<td>
					John
				</td>
			</tr>

		</tbody>

	</table>
	
</%block>