<%doc>
	Author: John Turner
	Version: 1.0
	Updated: 3/20/15

	All of the 
</%doc>

<%inherit file="/base_admin/templates/View.htm" />

<%block name="tab_title">
  	Rental Return
</%block>

<%block name="content">
	<div class="item_box">
	%if len(rented_items) == 0:
		<p>You have no active rentals.</p>
	%else:
	
		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th>
						Name
					</th>
					<th>
						Due Date
					</th>
					<th>
						Image
					</th>
					<th>
						Actions
					</th>
				</tr>
			</thead>

			<tbody>
				%for item in rented_items:
				<tr>
					<td>
						${ item.item.specs.name }
					</td>
					<td>
						${ item.due_date }
					</td>
					<td>
						<img id="image_field" src="${ STATIC_URL }${ item.item.specs.photograph.image }" >
					</td>
					<td>
						<a class="button" href="/rentals/rentals.item_return/${ item.item_id }/${ item.id }">
							<paper-button raised class="edit_button">Return</paper-button>
						</a>
					</td>
				%endfor
				</tr>
			</tbody>
			
		</table>

	%endif
	</div>

</%block>